html {background: #3c5f42;}

.green {background: #cbe6c5;}

.blue {background: #8CA5CF;}

.red {background: #F1A8B0;}

.white {background: #F5E783;}

.hidden {visibility: hidden;}

#menu h3 {margin-top: 20%;}

button {
  width: 100%;
  line-height: 1.0;
  height: auto;
  padding: 0;
  font-size: 50px;
}

nav {
  text-align: center;
  color: #3c5f42;
}
#menu img {
  width: 100%;
  border-radius: 50%;
  margin: 1%;
}
#menu .row {
  /*margin-top: -5%;*/
}

