<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

<!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">-->

<!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/index.css">

<!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

<!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    
    <div class="row" style="margin-top:5%">
      <img class="nine columns" src="images/header.png">
      <div class="three columns">
        <a href="index.html"><img class="one-half column" src="images/logo.jpg" style="border-radius:50%"></a>
        <a href="http://www.KashrusInternational.com"><img class="one-half column" src="images/Kosher.png"></a>
        <a href="wraps.html"><img class="one-half column" src="images/btnWrap.png"></a>
        <a href="dairy.html"><img class="one-half column" src="images/btnDairy.png"></a>
        <a href="bakery.html"><img class="one-half column" src="images/btnBakedGoods.png"></a>
        <a href="meat.html"><img class="one-half column" src="images/btnMeat.png"></a>
      </div>
    </div>
    
    <div class="row" style="margin-top:5%">
      <img src="images/placeholder.png" class="u-full-width" style="height:300px">
    </div>

  </div>
<!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
